{% extends "layout.html" %}

{% block title %}
Hamro Guff
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Welcome to Hamro Guff</h1>

    <div class="mb-4">
        <a class="btn btn-primary" href="{% url 'hamroguff_create' %}">Create a blog</a>
    </div>

    <div class="row">
        {% for hamroguff in guffs %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100" style="width: 100%;">
                <img src="{{hamroguff.photo.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{hamroguff.user.username}}</h5>
                    <p class="card-text">{{hamroguff.text}}</p>
                    {%if hamroguff.user == user%}
                    <a href="{% url 'hamroguff_edit' hamroguff.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'hamroguff_delete' hamroguff.id %}" class="btn btn-danger">Delete</a>
                    {%endif%}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
